S3method(predict,DTR.Boots.KernSmooth)
S3method(predict,DTR.KernSmooth)
export(DTR.Boots.KernSmooth)
export(DTR.KernSmooth)
export(predict.DTR.Boots.KernSmooth)
export(predict.DTR.KernSmooth)
export(obj_value)
importFrom(Rcpp, evalCpp)
importFrom("stats", "binomial", "glm", "rnorm", "coef", "lm")
useDynLib(DTRKernSmooth, .registration = TRUE)
